<% provide(:title, "All users") %>
<h1>All posts</h1>

<ul class='posts'>
  <% @posts.each do |post| %>
  <li>
    <%= post.title %>
    <%= post.body %> 
  
    <% if logged_in? %>
      <% user = User.find(post.user_id) %><br>
      </li>
      <%= "Written by:  " + user.name %><br>
    <% else %>
      <%= "Log in to see who authored this post." %> <br>
    <br>
    <% end %>
  <% end %>
</ul>

