<footer class='footer'>
    <small>
        The 'Member's Only' project. Thanks to 
        <a href="http://www.theodinproject.com">The Odin Project</a>
        for the idea!
    </small>
<nav>
    <ul>
        <li><a href="https://github.com/jonjperkins/embarassing-gossip-site">Check out the github repo here.</a></li>
    </ul>
</nav>
        
    </small>
</footer>


